wp-content/plugins/*
!wp-content/plugins/index.php

wp-content/themes/*
!wp-content/themes/index.php

wp-content/uploads/*
!wp-content/uploads/index.php

wp-content/languages/plugins

wp-config.php

.htaccess

